/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26/04/2017, 9:36:36 AM
    Author     : Neal
*/



/*random stylings for colors and any other multi used styling*/

.deep_blue{
    color: #26495c;
    
}

.light_blue{
    color: #35c5d3;
}

.font_light{
    font-weight: 200;
}

.font_normal{
    font-weight: 400;
}

.font_heavy{
    font-weight: 600;
}

.font_super_heavy{
    font-weight: 800;
}

.roundy_corners{
    border-radius: 1em;
}

/*indiviualised styling*/
body{
     margin: auto;
     width:100%;
     text-align: center;
     font-family: 'Dosis', sans-serif;
     color: #4b5254;
     background-color: #f2f2f2;
     background-image: url("../Images/Logos/clouds2.png");
     background-size: 100% auto;
     
     
}

html{
    width: 100%;
    overflow-x: hidden;
}

.header{
    
    width: 100%;
    padding-bottom: 1em;
    /*background-color: white;*/
    /*margin-bottom: 1em;*/
    padding-top: 0.5em;
}

.balloon_image{
    
    position: absolute;
    left: 90%;
    top: 2em;
    
    background-image: url("../Images/Logos/balloon.png");
    background-size: 100% 100%;
    
    width: 7%;
    padding-bottom: 6%;
}

.logo{
    
    background-image: url("../Images/Logos/logo_pathstarters.png");
    background-size: 100% 100%;
    width: 15%;
    padding-bottom: 9%;
    margin-left: 20%;
    margin-top: 1em;
    
    left: 0;
    
}

.header p{
    display: inline-block;
    padding-bottom: 7%; 
}
/*survey call to action at top of page under logo bar*/
.survey_call_to_action{
    width: 100%;
    background-image: url("../Images/sad_toy_stock.jpg");
    background-size: 120% 170%;
    background-position-y: 70%;
    background-position-x: 20%;
    font-size: 3em;
    color: white;
}

.blue_overlay{
    width: 100%;
    height: 100%;
    background-color: #0066cc;   
    opacity: 0.80;
}

.survey_call_content{
    text-align: left;
    padding-left: 20%;
    padding-top: 10%;
    padding-bottom: 10%;
}

.survey_main_link{
    margin-top: 0%;
    background-color: #DF0096;
    display: inline-block;
    padding: 0.1em 0.5em 0.2em 0.5em;
    border-radius: 0.1em;
    font-size: 0.4em;
}

.survey_call_content a{
    text-decoration: none;
    color: white;
    
}



/*the story block just below header*/
.our_story{
    
    
    
    width: 100%;
    margin: auto;
    
    background-color: white;
    padding-bottom: 2em;
}

.story_header_container{padding-top: 2em;}

.our_story h2{
    font-size: 4em;
    display: inline-block;
    border-bottom: solid 3px #DF0096;
    
}

.story_header_container{
    position: relative;
}

.our_story p{
    color: #26495c;
    width: 60%;
    margin: auto;
    padding-bottom: 3em;
    font-weight: 500;
    text-align: justify;
    
}

.team_intro{
    padding-top: 1em;
}


.team_intro p{
    text-align: center;
}

.cloud_image{
    
    top: 1em;
    left: 5%;
    
    position: absolute;
    
    z-index: 2;
    width: calc(1.6*3em);
    padding-bottom:3.5em;
    
    background-image: url("../Images/Logos/cloud.png");
    background-size: 100% 100%;
}




/*styling for the slider to choose between team view and blog view*/
.slider_container{
    width: 40%;
    margin: auto;
    margin-top: 7em;
    background-color: white;
    
    border-radius: 0.3em;
    /*display: none; /*this is the css that hides the switch for community and timeline*/
    
}

.timeline_button{
    width:49%;
    display: inline-block;
    
    cursor: pointer;
    font-size: 1.5em;
    
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    
    border-radius: 0.3em;

}

.timeline_button p{
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-margin-before: 0em !important;
    -webkit-margin-after: 0em !important;
}

.community_button{
    width:49%;
    display: inline-block;
    
    cursor: pointer;
    font-size: 1.5em;
    
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    
    border-radius: 0.3em;
}

.community_button p{
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-margin-before: 0em !important;
    -webkit-margin-after: 0em !important;
}

.active{
    background-color: #26495c;
    color: #f2f2f2;
    
}

.hidden{
    visibility: hidden;
    opacity: 0;
    
        transition: visiblity 0s 2s, opacity 0.5s linear;
        -webkit-transition: visiblity 0s 2s, opacity 0.5s linear;
        -moz-transition: visiblity 0s 2s, opacity 0.5s linear;
}

/*styling for the container that holds the timeline and community*/

.switch_container{
    
    position: relative;
    height: fit-content;
}

/*blog view*/


.pathway_container{
    position: absolute;
    width: 100%;
    
        transition: visiblity 0s 1s, opacity 0.5s linear;
        -webkit-transition: visiblity 0s 1s, opacity 0.5s linear;
        -moz-transition: visiblity 0s 1s, opacity 0.5s linear;
}


.pathway{
    font-size: 7em;
    -webkit-margin-before: 0em !important;
   
}

.month_container{
    padding-bottom: 6em;
    position: relative;
}



.post_container{
    width:52%;
    height: auto;
    position: relative;
    float: left;
    
   
}




.post_container:nth-child(odd){
    float:right;
    width:52%;
    height: auto;
    position: relative;

}

.post_container:nth-child(odd) .post{
   
    margin-left: 0;
    float: left;
  
}


.lines_timeline{
    width:10%;
    padding-top: 2em;
    display: inline-block;
}


.post{
    width: 80%;
    display: inline-block;
    background-color: white;
    padding-bottom: 2em;
    padding-top: 0.5em;
    margin-left: 10%;
    
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;  
    -webkit-transition: box-shadow 0.3s ease-in-out; 
    -moz-transition: box-shadow 0.3s ease-in-out;
    
    
}

.post:hover{
    transform:translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    
}

.post_date{
   border-bottom: 2px solid #ED1E79;
   display: inline-block;
}

.post_body{
    width: 70%;
    margin: auto;
}

.vertical_line{
    position: absolute;
   
    z-index: -5;
    
    width: 10%;
    
    
    top:1em;
    left:45%;
    
  
}

.line{
    height: 100%;
    
    
}


.pitch_date{
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

.pitch_month{
    font-size: 5em;
    padding-bottom: 0em;
    padding-top: 0em;
    -webkit-margin-before: 0em;
    color: #ED1E79;
}



/*-----------------------------------*/
/*The view for our community and team*/
/*-----------------------------------*/

.team_cont{
     background-color: #f2f2f2;
}

.our_team{
    
    position: absolute;
    width: 100%;
    
        transition: visiblity 0s 1s, opacity 1s linear;
        -webkit-transition: visiblity 0s 1s, opacity 1s linear;
        -moz-transition: visiblity 0s 1s, opacity 1s linear;
}

.team_title{
   display: inline-block;
   font-size: 4em;
   border-bottom: solid 3px #DF0096;
}

.profiles{
    padding-top: 3em;
}

.profiles h2{
    color: #DF0096;
    font-size: 7em;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    
}

.profile_images_container h2{
    font-size: 3em;
    display: inline-block;
   
}

.profile_images_container{
    
    width: 100%;
}

.profile{
    display: inline-block;
    vertical-align: bottom;
    width: 20%;
    
    
}

.profile:hover{
    
    vertical-align: top;
   
}

.profile:hover .profile_image{
    animation: shake 0.82s;
}

.profile_name{
    visibility:hidden;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    background-color: white;

}

.triangle{
    visibility: hidden;
}

.profile:hover .profile_name{
    color: #4b5254;
    
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
       
    background-color: white;
    border-radius: 0.5em;
    visibility: visible;
    
}

.profile:hover .triangle{
    
    visibility: visible;
}


.profile p{
    font-weight: 500;
    color: #979797;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    
}

.linkedIn{
    padding-bottom: 6.5%;
    width: 22.5%;
    background-image: url("../Images/Logos/linkedinfull.png");
    background-size: 100% 100%;
    
   
   
    margin: auto;
    margin-bottom: 0.5em;
    z-index: 10;
    
   
    
       
}

.linkedIn a{
    display: inline-block;
}

.profile_image{
    
    width: 50%;
    padding-bottom: 90%;
    margin: auto;
    
}


/*************Mentor Image/profile boxes******************/
.mentor_image{
    width: 80%;
    padding-bottom: 80%;
    border-radius: 50%;
    margin: auto;
}

.mentor_profile{
    display: inline-block;
    width: 15%;
    margin-left: 1%;
    margin-right: 1%;
    vertical-align: top;
}

.mentor {
    width:15%;
}

.mentors{
    margin-top: 2em;
    padding-top: 0.5em;
    background-color: white;
    padding-bottom: 2em;
}

.mentors h2{
    font-size: 7em;
    
    color:#26495c;
}

/*Our contacts that we've made throught out this process'*/
.our_contacts{
    
}

.our_contacts h2{
    font-size: 7em;
}



/***********************************************/
/*                   footer                    */
/***********************************************/

.footer{
   
    width: 100%;
    padding-bottom: 30%;
    background-image: none;
    background-color: #35c5d3;
    border-top: solid 3px #4b5254;
        
    
    width: 100%;
    margin: auto;
    padding-bottom: 7%;
    color: #f2f2f2;
   
}

.footer h2{
    
    color: #ED1E79;
}


/*PROFILE IMAGES*/
.kenyon{
    background-image: url("../Images/TeamPhotos/Kenyon.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
      
}


.scott{
    background-image: url("../Images/TeamPhotos/Scott.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
        
}


.neal{
    background-image: url("../Images/TeamPhotos/Neal.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
        
}


.paul{
    background-image: url("../Images/TeamPhotos/Paul.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
        
}


.dave{
    background-image: url("../Images/TeamPhotos/dave.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
        
}

.hamish{
    background-image: url("../Images/TeamPhotos/hamish.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
        
}

.kristene{
    background-image: url("../Images/TeamPhotos/kris.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
        
}

.ian{
    background-image: url("../Images/TeamPhotos/ian.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
        
}

.kamal{
    background-image: url("../Images/TeamPhotos/kamal.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
        
}



/*This is the styling for the survey landing page for Paul*/

.survey{
    padding-bottom: 1.5em;
    
}

.survey_text{
    padding-top: 2em;
    width: 60%;
}

.survey a{
    color: #ED1E79;
    display: inline-block;
    text-decoration: none;
}

.survey_link{
    margin-top: 1em;
    margin-bottom: 1em;
    
    border-radius: 1em;
    
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;  
    -webkit-transition: box-shadow 0.3s ease-in-out; 
    -moz-transition: box-shadow 0.3s ease-in-out;
}

.survey_link:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.survey_link h2{
    
   
    -webkit-margin-before: 0em !important;
    -webkit-margin-after: 0em !important;
    padding: 0.2em 0.2em 0.2em 0.2em;
    
}

.survey a:hover{
    color: #35c5d3;
   
}

.touch_us{
    padding-top: 1em;
    color: #ED1E79;
    font-size: 1.5em;   
}


 /* for phone*/ 
@media screen and (max-width: 850px){
    
    body{
        
        
    }
    
    html{
                
    }
    
    .logo{
        width: 40%;
        padding-bottom: 25%;
           
    }
    
    /*survey call to action at top of page under logo bar*/
    .survey_call_to_action{
        
        background-image: url("../Images/sad_toy_stock.jpg");
        background-size: 500% 170%;
        background-position-y: 70%;
        background-position-x: 80%;
        font-size: 3em;
        color: white;
    }
    
    
    .our_story h2{
        font-size: 3em;
    }

    .cloud_image{
        visibility: hidden;
    }

    .pathway{
        font-size: 3em;
        
        
    }
    
    .pathway h3{
        
    }
    
    .profile_name{
        visibility: visible;
    }
    
    .triangle{
        visibility: visible;
    }
    
    .linkedIn{
        width: 80%;
        padding-bottom: 20%;
    }
    
    .profile{
        width: 60%;
        margin: auto;
    }
    
    .post_container{
        
        width: 100%;
        margin: auto;
        margin-bottom: 1em;
    }
    
    .post_container:nth-child(odd) {
        width: 100%;
        margin-bottom: 1em;
    }
    
    .post_body{
        
        width:90%;
        padding-left: 5%;
        
    }    
    
    .post{
        width:100%;
        margin-left: 0;
    }
    
    
    
    .post_container svg{
        display: none;
    }
    
    
    .footer{
        width: 100%;
        padding-bottom: 30%;
        background-image: none;
        background-color: #35c5d3;
        border-top: solid 3px #4b5254;
        
    }
    
    .footer h2{
        padding-top: 40%;
    }
    
    .footer p{
        width:90%;
        margin: auto;
    }

}


/*animation keyframes*/

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}