<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="PathwayApp">
    <head>
        <title>Path Starters</title>
        <meta name="description" content="Improving employment outcomes for people managing mental health conditions."/>
        <meta name="robots" content="index,follow"/>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script src="../Models/applicationModel.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        
        <link type="text/css" rel="stylesheet" href="../CSS/mainStyle.css">
        <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
        
        <link rel="shortcut icon" href="../Images/Logos/favicon.ico" type="image/x-icon">
        <link rel="icon" href="../Images/Logos/favicon.ico" type="image/x-icon">
        
    </head>
    
    
    <body>
        <!--Header bar for the site-->
        <div class = "header">
            <!--the background for the header will be the balloon and we will shift it right-->
            
            <div class = "logo"></div>
            <div class = "balloon_image"></div>
        </div>
        
        
        <div class = "survey_call_to_action">
            <div class = "blue_overlay">
                <div class = "survey_call_content">
                    <p class = "tell_us">Tell us how mental health affects you<br> so we can affect mental health</p>
            
                    <a class = "survey_main_link" href = "https://vuw.qualtrics.com/jfe/form/SV_eb91r765a7ZlyYJ">TAKE SURVEY</a>
                </div>
            </div>
        </div>
        
        <!--the story for the team-->
        <div class = "our_story light_blue">
            
            <div class = "story_header_container">
            
            
            
            <h2 class = "cloud deep_blue font_super_heavy"> OUR STORY</h2>
           
            </div>
            
            <p>Team Path Starters are working through the R9 Accelerator as part of a better 
                of business initiative. Their mission is to provide fulfilling employment for 
                those who are stuck on their journey.  57,000 people are currently receiving
                health related benefit due to the impact their mental health condition has on
                their ability to work. Mental health conditions have accounted for 97% of the
                growth in health-related benefits in the last 10 years, and this is part of an
                international trend.People with mental health conditions often have poor employment
                outcomes. There are a number of barriers that are preventing people from finding 
                and keeping a job. We know that appropriate work, combined with the right support,
                is good for people’s mental health and that people with mental health conditions
                can and want to work.</p>
            
            <div class = "survey">
                <a href = "http://vuw.qualtrics.com/jfe/form/SV_eb91r765a7ZlyYJ" target = "_blank">
                <h3>HAVE YOU TAKEN OUR SURVEY?</h3>
                </a>
            </div>
            
        </div>
                   
        <div class = "profile_images_container">
            
            <h2>THE TEAM</h2>
            
            <div class = "profile">
                
                <div class="profile_name">
                    <h3>Hi!<br>I'm Kenyon!</h3>
                    <a href="https://www.linkedin.com/in/kenyon-shankie-372861140/" target = "_blank">
                        <div class = "linkedIn"></div>
                    </a>
                </div>

                <svg class ="triangle" width="150px" height="50px">
                    <polyline points="20 0, 50 30, 50 0" fill="white" stroke="white"/>
                </svg>


                <div class = "profile_image kenyon"></div>


            </div>

            <div class = "profile">
                
                
                <div class="profile_name">
                <h3>Hi!<br>I'm Scott!</h3>
                    <a href="https://www.linkedin.com/in/scottreedernz/" target = "_blank">
                        <div class = "linkedIn"></div>
                    </a>
                </div>
                
                
                
                <svg class ="triangle" width="150px" height="50px">
                    <polyline points="20 0, 50 30, 50 0" fill="white" stroke="white"/>
                </svg>
                <div class = "profile_image scott"></div>



            </div>

            <div class = "profile">
                
                
                <div class="profile_name">
                <h3>Hi!<br>I'm Neal!</h3>
                    <a href="https://www.linkedin.com/in/neal-hartley-bb2a74a0/" target = "_blank">
                        <div class = "linkedIn"></div>
                    </a>                
                </div>
                
                
                <svg class ="triangle" width="150px" height="50px">
                    <polyline points="20 0, 50 30, 50 0" fill="white" stroke="white"/>
                </svg>
                <div class = "profile_image neal"></div>



            </div>

            <div class = "profile">
                
               
                <div class="profile_name">
                <h3>Hi!<br>I'm Paul!</h3>
                    <a href="https://www.linkedin.com/in/zealand/" target = "_blank">
                        <div class = "linkedIn"></div>
                    </a>
                </div>
                
                
                <svg class ="triangle" width="150px" height="50px">
                    <polyline points="20 0, 50 30, 50 0" fill="white" stroke="white"/>
                </svg>
                <div class = "profile_image paul"></div>



            </div>

            <p class = "touch_us">scroll over us to get to know us...</p>
        </div>
        
        <!--the slider button to switch between timeline view and community view-->
        <div class = "slider_container deep_blue roundy_corners">
            
            <!--the buttons for choosing. Timeline will be default so we give it the active class-->
            <div class = "timeline_button active roundy_corners" data-active = "true"><p>TIMELINE</p></div>
            <div class ="community_button roundy_corners" data-active = "false"><p>COMMUNITY</p></div>
            
        </div>
        
        <div class = "switch_container">
        
            <!--the container for the pathway view-->
            <div class = "pathway_container" ng-controller="PathwayController">
                <h2 class = "pathway deep_blue">OUR PATHWAY</h2>

                <!--each month needs to be its own thing. each needs it index as a class in order to access the expanding svg line-->
                <div class = "month_container {{$index}}" ng-repeat="month in months">
                    <h2 class = "month deep_blue">{{month.name}}</h2>

                    <!--within each month there needs to be bunch of posts-->
                    <div class = "post_container" ng-repeat="post in posts" ng-if="post.month === month.name" >
                        
                        <!--line for alternating div-->
                        <div class ="lines_timeline" style = "float: left;" ng-if = "counter === false"><!--the lines for an odd numbered post-->
                        
                            <svg class="horizontal_line" width="100%" height="20" >
                                <line class ="line_across" x1="38.5%" y1="10" x2="100%" y2="10" stroke="#26495c" stroke-width="4"></line>
                                <!--middle circle-->
                                <circle class = "circle" cx = "38.5%" cy="10" r="8" stroke="#26495c" stroke-width="2" fill="#f2f2f2"/>
                                <circle class = "circle" cx = "38.5%" cy="10" r="4" stroke="#ED1E79" stroke-width="2" fill="#f2f2f2"/>
                               
                            </svg>
                            {{setCounter(true);}}
                        </div>
                        
                        
                        <div class = "post roundy_corners">
                            
                            
                            <h3 class = "post_date">{{post.date}}</h3>

                            <div class = "post_body">{{post.description}}</div>

                            <div class = "post_image"></div>

                            <div class = "like_system"></div>

                        </div>
                        
                        
                            <!--line that links a right side post to the middle-->
                        
                        <div class ="lines_timeline" style = "float: right;" ng-if = "counter"><!--the lines for an even numbered post-->
                        
                            <svg class="horizontal_line" width="100%" height="20" >
                                <line class ="line_across" x1="0" y1="10" x2="61.5%" y2="10" stroke="#26495c" stroke-width="4"></line>
                                <circle class = "circle" cx = "61.5%" cy="10" r="8" stroke="#26495c" stroke-width="2" fill="#f2f2f2"/>
                                <circle class = "circle" cx = "61.5%" cy="10" r="4" stroke="#ED1E79" stroke-width="2" fill="#f2f2f2"/>
                            </svg>
                    
                            {{setCounter(false);}}
                        </div>
                        
                        
                   


                    </div>
                    
                    <!--need to reset the bool that controls wether a post is even or odd-->
                    {{setCounter(true);}}
                    
                    
                    <svg class="vertical_line" width="40%" height="100%" >
                       
                        <line class ="line" x1="50%" y1="25" x2="50%" y2="95%" stroke="#26495c" stroke-width="5"></line>
                        <!--top circle-->
                        <circle class = "circle" cx = "50%" cy="25" r="8" stroke="#26495c" stroke-width="2" fill="#f2f2f2"/>
                        <circle class = "circle" cx = "50%" cy="25" r="2" stroke="#26495c" stroke-width="2" fill="#f2f2f2"/>
                        
                        <!--bottom circle-->
                        <circle class = "circle" cx = "50%" cy="95%" r="8" stroke="#26495c" stroke-width="2" fill="#f2f2f2"/>
                        <circle class = "circle" cx = "50%" cy="95%" r="2" stroke="#26495c" stroke-width="2" fill="#f2f2f2"/>
                        
                    </svg>
                    
                    
                    
                    
                    <div style="clear:both;"></div>
                    
                    
                    
                </div>
                <h3 class = "pitch_date">8th June</h3>
                
                <h2 class= "pitch_month deep_blue">PITCH DAY</h2>
                
              
            </div>


            <div class = "our_team hidden">
                
                 
                        <!--profiles section, contains the descriptions of each team member-->
                <div class = "profiles">
                    <h2>OUR TEAM</h2>
                    
                
                <div class = "team_intro">
                    <p>Time to get to know the team. Scroll over our pictures to let us introduce ourselves. </p>
                </div>  
                    
                    <div class = "profile_images_container">

                        <div class = "profile">
                            
                            <div class = "profile_name">
                                <h3>Hi!<br>I'm Kenyon</h3>
                                
                                <div class = "linkedIn"></div>
                            </div>

                            <svg class ="triangle" width="150px" height="50px">
                                <polyline points="20 0, 50 30, 50 0" fill="white" stroke="white"/>
                            </svg>


                            <div class = "profile_image kenyon"></div>


                        </div>

                        <div class = "profile">
                            
                            <div class = "profile_name">
                                <h3>Hi!<br>I'm Scott</h3>
                            </div>
                            
                            <svg class ="triangle" width="150px" height="50px">
                                <polyline points="20 0, 50 30, 50 0" fill="white" stroke="white"/>
                            </svg>
                            <div class = "profile_image scott"></div>



                        </div>

                        <div class = "profile">
                            <h3>Hi!<br>I'm Neal</h3>
                            <svg class ="triangle" width="150px" height="50px">
                                <polyline points="20 0, 50 30, 50 0" fill="white" stroke="white"/>
                            </svg>
                            <div class = "profile_image neal"></div>



                        </div>

                        <div class = "profile">
                            <h3>Hi!<br>I'm Paul</h3>
                            <svg class ="triangle" width="150px" height="50px">
                                <polyline points="20 0, 50 30, 50 0" fill="white" stroke="white"/>
                            </svg>
                            <div class = "profile_image paul"></div>



                        </div>




                    <div class = "Mentors">
                        <h2>OUR MENTORS</h2>

                        <div class = "profile_images_container">

                        <div class = "mentor profile">
                            <div class = "profile_image kenyon"></div>
                            <h3>DAVE</h3>

                        </div>

                        <div class = "mentor profile">
                            <div class = "profile_image scott"></div>
                            <h3>HAMISH</h3>

                        </div>

                        <div class = "mentor profile">
                            <div class = "profile_image neal"></div>
                            <h3>KRISTENE</h3>

                        </div>

                        <div class = "mentor profile">
                            <div class = "profile_image paul"></div>
                            <h3>IAN</h3>

                        </div>

                        <div class = "mentor profile">
                            <div class = "profile_image paul"></div>
                            <h3>KAMAL</h3>

                        </div>

                        </div>
                    </div>


                        <div class = "our_contacts">
                            <h2>GREAT PEOPLE</h2>

                        </div>    
                    </div>
                
                
                </div>
            </div>
            
            
            
        </div>
        
        <div class = "footer">
                <h2>CONTACT US</h2>
                <p>scott@gotoworkonmentalhealth.co.nz</p>
                <p>Plimmer Towers, Lambton Quay, Wellington 6021</p>
                
        </div>
        
       
        
        <script>
            
            //at the start of the thing we want to make sure the switch container height is set to the height of
            //the correct internal object. in this case the default is the pathway so we set this
            
            //keeps getting incorrect numbers so we enclosed as a function called on load
            $(window).on('load',function(){
                $(".switch_container").height($(".pathway_container").height());
                console.log("outer height" + $(".pathway_container").outerHeight());
            });
            
            //these are the toggle button functions. incharge of switching the classes
            //makes pathway and community views come in and out of view
            $('.community_button').on("click", function(){
                
                if($(this).data("active") === false){
                //toggling the buttons classes so that the styling changes so you can see which is active
                $(".community_button").toggleClass("active");
                $(".timeline_button").toggleClass("active");
                
                //toggling the community and pathway div so they becomes visible/not visible
                $(".pathway_container").toggleClass("hidden");
                $(".our_team").toggleClass("hidden");
                
                
                $(this).data("active", true);
                $(".timeline_button").data("active", false);
                
                $(".switch_container").height($(".our_team").height());
                }
            });
            
            
            $('.timeline_button').on("click", function(){
                
                if($(this).data("active") === false){
                //toggling the buttons classes so that the styling changes so you can see which is active
                $(".community_button").toggleClass("active");
                $(".timeline_button").toggleClass("active");
                
                
                //toggling the community and pathway div so they becomes visible/not visible
                $(".pathway_container").toggleClass("hidden");
                $(".our_team").toggleClass("hidden");
                
                
                $(this).data("active", true);
                $(".community_button").data("active", false);
                
                $(".switch_container").height($(".pathway_container").height());
                }
            });
            
            
            //making a logo switcher. probably gonna make it so it switches on space press or something.
            
            var logos = ['logo_pathstarters','logo2','logo3','logo4'];
               var i = 0;
               
            $(window).on( "keyup" , function (e) {
                console.log(e.keyCode);
                if (e.keyCode === 13 || e.which === 13) {
                    console.log('url(../Images/Logos/'+logos[i]+'.png)');
                    $(".logo").css("background-image", "none");
                    $(".logo").css('background-image', 'url(../Images/Logos/'+logos[i]+'.png)');                    
                    i++;
                    
                    if(i>logos.length-1){
                        i=0;
                    }
                    
                }
            });
         
         
                      
            
            
            
        </script>
        
    </body>
    
    
    
</html>
